body {
  background-image: url('https://tm.ibxk.com.br/2022/08/23/23182505749457.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  text-align: justify;
  overflow-x: hidden;
  background-color: rgba(24, 23, 23, 0.5);
  color: white;
  border-radius: 10px;
  padding: 5%;
}

::-webkit-scrollbar {
  display: none;
}

#back-to-top {
  position: fixed;
  bottom: 2px;
  right: 30px;
  width: 80px;
  color: white;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.589);
}

#back-to-top:hover:after {
  content: ' Voltar ao topo';
  font-size: 15px;
}
